{{#if session.isAuthenticated}}
  <h3>Welcome, {{currentUser.user.name}}</h3>
  <button type="button" onclick={{action "logout"}}>
    Logout
  </button>
{{else}}
  <button type="button" onclick={{action "login"}}>
    Login with Facebook
  </button>
{{/if}}

{{outlet}}
